section ul{
  list-style-type: none;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}

section ul li{
  display: inline;
}

section ul li a{
  position:relative;
  text-decoration: none;
}

section ul li img {
  width: 30%;
  height: 30%;
  border: 1px solid black;
}

section ul li img:hover {
  border: 1px solid white;
}
