* {
    font-family: Garamond;
    margin: .1em;
}

header {
    background-color: #990000;
}

footer {
    background-color: #990000;
    clear: both;
}

.column-1 {
    float: left;
    background-color: #a39d9d;
    width: 49.2%;
    border: 1px solid #990000;
}

.column-2 {
    float: right;
    background-color: #a39d9d;
    width: 49.2%;
    border: 1px solid #990000;
}