section{
  position: relative;
  left: 12.5%;
  border: 1px solid black;
  width: 75%;
  height: 30em;
  text-align: left;
  top: 1.5em;
  overflow: scroll;
}

#blogtitles{
  position: relative;
  text-align: center;
}

ul {
  list-style-type: none;
}

#post{
  position: relative;
  font-style: bold;
  float: right;
  overflow: scroll;
  width: 75%;
  height: 84%;
  border: 1px solid black;
  bottom: 9em;
  text-align: center;
}

