html {
  background-color: #e5e5e5;
  color: #797979;
}

body{
  margin: 0;
}

header{
  position: relative;
  height: 25%;
  width: 100%;
  top: -1.5em;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: .01em;
  padding-top: 5%;
  padding-bottom: 5%;
}

header h2 {
  position: relative;
  left: 3em;
  width: 40%;
}

header nav {
  float: right;
  top: -4em;
  padding-right: 4em;
  font-style: italic;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav ul{
  word-spacing: 3em;
  font-size: 1.2em;
}

nav ul li{
  display: inline;
}

a {
  color: #797979;
  text-decoration: none;
}

section {
  background-color: #378cad;
  color: white;
  height: 27em;
}

#description{
  position: relative;
  width: 75%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  height: 15em;
}


#description img {
  padding-top: 1%;
  margin-right: 40%;
  margin-left: 40%;
}


#about_column1 {
  float: left;
  width: 48%;
}

#about_column1 img{
  padding-left: 20%;
  padding-top: 10%;
}

#about_column2 {
  float: right;
  font-size: 1.2em;
  font-family: Verdana, Geneva, sans-serif;
  width: 47%;
  padding-right: 4%;
}

footer {
  clear: both;
}

footer ul{
  bottom: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: .05em;
}

footer ul li{
  display: inline;
  top: .2em;
}
