html {
  background-color: #e5e5e5;
  color: #3c3c3c;
}

body{
  margin: 0;
  font-size: 100%;
}

aside {
  position: absolute;
  display: inline-block;
  width: 15%;
  top: 0;
  bottom: 0;
  float: left;
  background-color: #580E04;
}

#vertical-text {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

section {
  position: absolute;
  width: 85%;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
}

h2 {
  font-size: 2em;
  font-family: 'Monaco';
}

#profile {
  float: left;
  height: 100%;
  width: 40%;
  text-align: center;
  margin: 5em auto;
}

#prof_pic {
  height: 25%;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #580E04;
}

ul{
  width: 100%;
  list-style-type: none;
  padding: 0;
}

ul li{
  display: inline;
}

li a img {
  height: 1.5em;
  width: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
  opacity: 0.6;
}

li a img:hover {
  opacity: 1;
}
